
table,td,th {
    border: 1px solid black;
    background-color: white;
    
}
table{
    border-collapse: collapse;
    width: 100%;
 
}
th{
    height:70px;
    padding: 15px;
    background-color: white; 
}
td{
    text-align:center;
    padding: 15px;
}
thead{
    color: green;
    font-weight: bold;
}
