.marks{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 shrink-0 h-2/4 w-[30%] rounded-3xl py-20 px-7 min-w-max;
    position: relative;
    transform: translate(02%, 30%); 
    width: 100%;   
    height: 100%;
}


table,td,th {
    border: 1px solid black;
    background-color: white;
    
}
table{
    border-collapse: collapse;
    width: 100%;
 
}
th{
    height:70px;
    padding: 15px;
    background-color: white; 
}
td{
    text-align:center;
    padding: 15px;
}
thead{
    color: green;
    font-weight: bold;
}
